/* this is for componenet-level styling*/
.navBar{
  background-color: #C4D6FB;
   box-shadow: 4px 4px 6px #888888;
}

.pCard{
  
  background-color: #C4D6FB ;
  box-shadow:  4px 4px 6px #888888;
}

.cButton {
  color:#E13443;
 border-color:#E13443;
 border-width: 1px;
}

.imgWidth{
  max-height: 70vh;
}

